<a href="https://colab.research.google.com/github/Mouryachowdaryy/Jon-snow/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_int = 42
print("Orginal Integer:", my_int)

Orginal Integer: 42

In [ ]:
my_list = []  # Make sure the list is defined first
my_list.append('world')
print("List after appending:", my_list)

List after appending: ['world']

In [ ]:
my_tuple = (1,'apple',3.14,False)
print("Orginal Tuple:",my_tuple)
print("First element:",my_tuple[0])
print("Last element:",my_tuple[-1])

Orginal Tuple: (1, 'apple', 3.14, False)
First element: 1
Last element: False

In [ ]:
myint = 5  # or any integer value you'd like to assign
result = myint * 2
print("Result after multiplication:", result)

Result after multiplication: 10

In [ ]:
my_set = {1,2,3,4,5}
print("Orginal Set:",my_set)
my_set.add(6)
print("Set after adding 6:", my_set)

Orginal Set: {1, 2, 3, 4, 5}
Set after adding 6: {1, 2, 3, 4, 5, 6}

In [ ]:
my_dict = {'name': 'john', 'age': 30, 'city': 'New York'}
print("Original Dictionary:", my_dict)
my_dict['age'] = 26
print("Dictionary after updating age:", my_dict)

Original Dictionary: {'name': 'john', 'age': 30, 'city': 'New York'}
Dictionary after updating age: {'name': 'john', 'age': 26, 'city': 'New York'}

In [ ]:
my_list = [2, 3, 4, 5]
my_list.insert(0, 1)
print("List after inserting 1:", my_list)

middle_index = len(my_list) // 2
my_list.insert(middle_index, 3.5)
print("List after inserting 3.5:", my_list)

List after inserting 1: [1, 2, 3, 4, 5]
List after inserting 3.5: [1, 2, 3.5, 3, 4, 5]

In [ ]:
my_list.append(6)
print("List after appending 6:", my_list)

List after appending 6: [1, 2, 3.5, 3, 4, 5, 6]

In [ ]:
index_to_update = 2
new_value = 10
my_list[index_to_update] = new_value
print("List after updating element at index 2:", my_list)

List after updating element at index 2: [1, 2, 10, 3, 4, 5, 6]

In [ ]:
my_list = [1,'hello',3.14,True]
print("Orginal list:", my_list)

Orginal list: [1, 'hello', 3.14, True]

In [ ]:
print("\nSlicing with step(start:stop:stop):")
print(my_list[1:8:2])

Slicing with step(start:stop:stop):
['hello', True]

In [ ]:
print("\nSlicing with negative index:")
print(my_list[-5:-2])

Slicing with negative index:
[1, 'hello']

In [ ]:
print("\nReversing with list using slicing:")
print(my_list[::-1])

Reversing with list using slicing:
[True, 3.14, 'hello', 1]